.banner {
    background-image: url("banner1.jpeg");
    height: 96vh;
    background-size: cover;
}
.banner1 {
    background-image: url("banner2.jpeg");
    height: 96vh;
    background-size: cover;
}

.img-size {
    width: 288px;
    height: 200px;
}

.img-size1 {
    width: 300px;
    height: 300px;
}

.bg-img1{
    background-image: url("long.jpeg");
    height: 100%;
    background-size: cover;
}
.bg-img2{
    background-image: url("long2.jpeg");
    height: 100%;
    background-size: cover;
}

.banner-text{
    width: 400px;
    color: black;
    font-size: 50px;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.banner-text2{
    width:300px;
    color: black;
    margin-left: auto;
    padding-top: 100px;
    font-size: 15px;

}
.banner-h4{
    padding-left: 100px;
    padding-top: 100px;
    color: black;
    
}

.banner-a{
    width: 400px;
    padding-left: 100px;
    color: black;
}